{% load static %}

<div class="card mb-3">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'browsent/img/file.png' %}" alt="" class="img-fluid">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">name: {{ name }}</h5>
        <ul>
          <li><a href="/download/{{ name }}">Download</a></li>
          <li><a href="/file_info/{{ name }}">File Info</a></li>
          <li><a href="/delete/{{ name}}">Delete</a></li>
        </ul>
        <h6 class="card-body">size: {{ size }}</h6>
      </div>
    </div>
  </div>
</div>