<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head", {
    title: "Mainpage"
  }) %> 
</head>
<body>
  <%- include("partials/navbar.ejs", {
    is_active_home: "active",
    is_active_files: ""
  }) %> 
  <h2>Main Page</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est natus eum sint, atque unde asperiores saepe quidem, mollitia rem quis, laudantium in reiciendis aliquam perferendis dolorem aperiam consectetur esse molestias.</p>
</body>
</html>